@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.button {
  max-width: 170px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Inter", serif;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
@media (max-width: 1120px) {
  .button {
    margin-inline: auto;
  }
}
.button span {
  margin-left: 12px;
}
.button span img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.button:hover span img {
  animation: moveArrow 0.6s infinite ease-in-out;
}

.header {
  max-width: 1440px;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: "Inter", serif;
  background-color: #fff;
}
.header__announcement {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 8px 100px;
}
@media (max-width: 920px) {
  .header__announcement {
    padding: 8px 20px;
  }
}
@media (max-width: 576px) {
  .header__announcement {
    display: none;
  }
}
.header__announcement p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.header__announcement p span {
  margin-left: 8px;
}
.header__announcement p span a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}
.header__announcement p span a:hover {
  color: #808080;
}
.header__options {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__language-selector, .header__currency-selector {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
  position: relative;
}
@media (max-width: 920px) {
  .header__content {
    padding: 8px 20px;
  }
}
.header__open-menu {
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  top: 40px;
  top: 2px;
}
@media (max-width: 920px) {
  .header__open-menu {
    display: block;
  }
}
.header__close-menu {
  position: absolute;
  right: 20px;
  top: 40px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  display: none;
  top: 2px;
}
.header__nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 920px) {
  .header__nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    position: fixed;
    right: -100%;
    top: 39px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
}
.header__nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}
.header__nav ul li a:hover {
  color: "Inter", serif;
  transform: scale(1.5);
}
.header__actions {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
@media (max-width: 920px) {
  .header__actions {
    display: none;
  }
}
.header__actions li a img {
  transition: all 0.3s ease-in;
  font-size: 0;
}
.header__actions li a img:hover {
  transform: scaleX(1.5);
}

#check {
  display: none;
}

#check:checked ~ .header__nav-list {
  right: 0;
}

#check:checked ~ .header__close-menu {
  display: block;
}

#check:checked ~ .header__open-menu {
  display: none;
}

.hero-slider__content {
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
}
.hero-slider__slide {
  position: relative;
}
.hero-slider__slide img {
  width: 100%;
  object-fit: cover;
}
.hero-slider__text {
  max-width: 600px;
  position: absolute;
  left: 100px;
  bottom: 156px;
  font-family: "Inter", serif;
}
@media (max-width: 1120px) {
  .hero-slider__text {
    text-align: center;
    bottom: 30px;
  }
}
@media (max-width: 576px) {
  .hero-slider__text {
    bottom: 20px;
    left: 20px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text {
    bottom: 20px;
    left: 5px;
  }
}
.hero-slider__text h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6;
}
@media (max-width: 920px) {
  .hero-slider__text h1 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .hero-slider__text h1 {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text h1 {
    font-size: 12px;
  }
}
.hero-slider__text p {
  text-transform: uppercase;
  font-weight: 600;
  margin-block: 24px;
}
@media (max-width: 576px) {
  .hero-slider__text p {
    font-size: 16px;
    margin: 0;
    margin-block: 5px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text p {
    font-size: 10px;
  }
}