@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.button {
  max-width: 170px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Inter", serif;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
@media (max-width: 1120px) {
  .button {
    margin-inline: auto;
  }
}
.button span {
  margin-left: 12px;
}
.button span img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.button:hover span img {
  animation: moveArrow 0.6s infinite ease-in-out;
}

.saleBadge {
  background: #121212;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 12px;
  position: absolute;
  top: 8px;
  right: 0;
}

.header {
  max-width: 1440px;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
.header__announcement {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 8px 100px;
}
@media (max-width: 940px) {
  .header__announcement {
    padding: 8px 20px;
  }
}
@media (max-width: 576px) {
  .header__announcement {
    display: none;
  }
}
.header__announcement p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.header__announcement p span {
  margin-left: 8px;
}
.header__announcement p span a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}
.header__announcement p span a:hover {
  color: #808080;
}
.header__options {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__language-selector, .header__currency-selector {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
  position: relative;
}
@media (max-width: 940px) {
  .header__content {
    padding: 8px 20px;
  }
}
.header__open-menu {
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  top: 40px;
  top: 2px;
}
@media (max-width: 940px) {
  .header__open-menu {
    display: block;
  }
}
.header__close-menu {
  position: absolute;
  right: 20px;
  top: 40px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  display: none;
  top: 2px;
}
.header__nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 940px) {
  .header__nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 42vh;
    background-color: rgb(218, 218, 218);
    position: fixed;
    right: -100%;
    top: 73px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
}
.header__nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}
.header__nav ul li a:hover {
  color: "Inter", serif;
  transform: scale(1.5);
}
.header__actions {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
@media (max-width: 940px) {
  .header__actions {
    display: none;
  }
}
.header__actions li a img {
  transition: all 0.3s ease-in;
  font-size: 0;
}
.header__actions li a img:hover {
  transform: scaleX(1.5);
}

#check {
  display: none;
}

#check:checked ~ .header__nav-list {
  right: 0;
}

#check:checked ~ .header__close-menu {
  display: block;
}

#check:checked ~ .header__open-menu {
  display: none;
}

.hero-slider__content {
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
}
.hero-slider__slide {
  position: relative;
}
.hero-slider__slide img {
  width: 100%;
  object-fit: cover;
}
.hero-slider__text {
  max-width: 600px;
  position: absolute;
  left: 100px;
  bottom: 156px;
}
@media (max-width: 1120px) {
  .hero-slider__text {
    text-align: center;
    bottom: 30px;
  }
}
@media (max-width: 576px) {
  .hero-slider__text {
    bottom: 20px;
    left: 20px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text {
    bottom: 20px;
    left: 5px;
  }
}
.hero-slider__text h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6;
}
@media (max-width: 940px) {
  .hero-slider__text h1 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .hero-slider__text h1 {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text h1 {
    font-size: 12px;
  }
}
.hero-slider__text p {
  text-transform: uppercase;
  font-weight: 600;
  margin-block: 24px;
}
@media (max-width: 576px) {
  .hero-slider__text p {
    font-size: 16px;
    margin: 0;
    margin-block: 5px;
  }
}
@media (max-width: 400px) {
  .hero-slider__text p {
    font-size: 10px;
  }
}

.collection__content {
  max-width: 1240px;
  margin-inline: auto;
  margin-block: 100px;
}
@media (max-width: 940px) {
  .collection__content {
    padding-inline: 20px;
  }
}
.collection__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.collection__cta h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 940px) {
  .collection__cta {
    justify-content: center;
  }
  .collection__cta a {
    margin: 0;
  }
}
.collection__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
@media (max-width: 940px) {
  .collection__gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
  }
}
.collection__gallery .grid-itemTwo {
  grid-column: 3/span 2;
  grid-row: 1/span 2;
  align-self: end;
}
.collection__gallery .grid-itemThree {
  grid-column: 2/span 1;
  grid-row: 4;
}
.collection__gallery .grid-itemFour {
  grid-column: 3/span 1;
  grid-row: 4;
}
.collection__gallery .grid-itemfive {
  grid-column: 4/span 1;
  grid-row: 4;
}
.collection__gallery-one {
  position: relative;
  max-width: 610px;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.collection__gallery-one img {
  width: 100%;
  object-fit: cover;
}
.collection__gallery-one a {
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: none;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.collection__gallery-one a:hover {
  background-color: #000;
  color: #fff;
}
.collection__image-secondary {
  max-width: 295px;
}
@media (max-width: 940px) {
  .collection__gallery-one,
  .collection .grid-itemTwo,
  .collection .grid-itemThree,
  .collection .grid-itemFour,
  .collection .grid-itemfive {
    grid-column: 1/span 1;
    grid-row: auto;
    max-width: 100%;
    width: 100%;
  }
}

.newCollection__content {
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}
@media (max-width: 768px) {
  .newCollection__content {
    padding-inline: 20px;
  }
}
.newCollection__content__image {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .newCollection__content__image {
    display: none;
  }
}
.newCollection__container {
  max-width: 1240px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1400px) {
  .newCollection__container {
    left: 60px;
  }
}
@media (max-width: 768px) {
  .newCollection__container {
    position: static;
  }
}
.newCollection__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newCollection__cta h3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.newCollection__cta nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.newCollection__cta nav :first-child {
  border-bottom: 2px solid currentColor;
}
.newCollection__cta nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}
.newCollection__cta nav a:hover {
  border-bottom: 2px solid currentColor;
}
.newCollection__cards {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.newCollection__cards__Arrows {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  padding: 11px;
  z-index: 1;
  bottom: 190px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.newCollection__cards__Arrows:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1400px) {
  .newCollection__cards__Arrows {
    display: none;
  }
}
.newCollection__cards .leftArrow {
  left: -20px;
}
.newCollection__cards .RightArrow {
  right: -20px;
}
.newCollection__cards .card {
  max-width: 295px;
  position: relative;
}
.newCollection__cards .card__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  padding: 8px;
  top: 16px;
  left: 16px;
  transition: all 0.3s ease-in;
}
.newCollection__cards .card__icon:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.newCollection__cards .card__image img {
  width: 100%;
  object-fit: cover;
}
.newCollection__cards .card__content .card__content-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px 10px;
}
.newCollection__cards .card__content .card__content-text__txt h4, .newCollection__cards .card__content .card__content-text__txt p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.newCollection__cards .card__content .card__content-text__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F3F3F3;
  padding: 8px;
  transition: all 0.3s ease-in;
}
.newCollection__cards .card__content .card__content-text__icon:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.newCollection__cards .card__colors {
  display: flex;
  align-items: center;
  gap: 12px;
}
.newCollection__cards .card__colors input {
  display: none;
}
.newCollection__cards .card__colors .color-box {
  width: 12px;
  height: 12px;
  padding: 2px 10px;
  cursor: pointer;
}
.newCollection__cards .card__colors .lightBlack {
  background-color: #412B32;
}
.newCollection__cards .card__colors .Brown {
  background-color: #B69474;
}
.newCollection__cards .card__colors .gray {
  background-color: #9C9A99;
}
.newCollection__cards .card__colors .yellow {
  background-color: #E4D094;
}
.newCollection__cards .card__colors input:checked + .color-box {
  outline: 1px solid black;
  outline-offset: 5px;
}
.newCollection__swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  flex-wrap: wrap-reverse;
}
.newCollection__swiper-form {
  display: flex;
  gap: 8px;
}
.newCollection__swiper-form input {
  display: none;
}
.newCollection__swiper-form .black {
  width: 8px;
  height: 8px;
  padding: 2px 10px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.newCollection__swiper-form input:checked + .black {
  outline: 1px solid black;
  outline-offset: 5px;
}
@media (max-width: 940px) {
  .newCollection__swiper {
    margin: 0;
  }
}