.categories__v3{

  &-content {
    max-width: 1240px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    @include respond-to("desktop"){
      padding-inline: 20px;
    }
  }

  .boxOne {
    background-color: #DBC484;
  }

  .boxTwo {
    background: #121011;
  }

  .boxThree {
    background: #D6D7D0;
  }
}