.feature__v2 {
  &-content{
    max-width: 1240px;
    margin-inline: auto;
    margin-block: 100px;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    @include respond-to("md-desktop") {
      margin: 0;
      margin-block: 100px;
      padding-inline: 20px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      flex-wrap: wrap;
      h5 {
        font-size: $font-size-lg;
        font-weight: 600;
        text-transform: uppercase;
      }

      .feature__v1__swiper-form {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }
    }
  }

  &-itemOne {
    max-width: 283px;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }

    &__cta {
      text-decoration: none;
      padding: 10px 20px;
      background-color: $text-secondary;
      border-radius: 40px;
      text-transform: uppercase;
      position: absolute;
      color: $text-primary;
      font-weight: 600;
      bottom: 22px;
      left: 57px;
    }

    @include respond-to("desktop"){
      max-width: 100%;
      width: 100%;
    }
  }

  .boxOne {
    background-color: #9E2A37;
  }

  .boxTwo {
    background: #3E2830;
  }

  .boxThree {
    background: #2A292D;
  }
}