.header {
  max-width: 1440px;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $text-secondary;

  &__announcement {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 8px 100px;

    @include respond-to("desktop") {
      padding: 8px 20px;
    }

    @include respond-to("phone") {
      display: none;
    }
    p {
      color: $text-secondary;
      font-size: $font-size-sm;
      text-transform: uppercase;

      span {
        margin-left: 8px;

        a {
          color: $text-secondary;
          font-size: $font-size-sm;
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: 600;

          &:hover {
            color: #808080;
          }
        }
      }
    }
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__language-selector, &__currency-selector {
    background-color: #000;
    border: none;
    color: $text-secondary;
    cursor: pointer;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
    position: relative;
    @include respond-to("desktop") {
      padding: 8px 20px;
    }
  }

   &__open-menu {
    position: absolute;
    right: 20px;
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: $text-primary;
    top: 40px;
    top: 2px;
    @include respond-to("desktop") {
      display: block;
    }
  }

  &__close-menu {
    position: absolute;
    right: 20px;
    top: 40px;
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: $text-primary;
    display: none;
    top: 2px;
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 32px;

      @include respond-to("desktop") {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 42vh;
        background-color: rgb(218, 218, 218);
        position: fixed;
        right: -100%;
        top: 73px;
        transition: all 0.3s ease-in-out;
        z-index: 100;
      }

      li {
        a {
          color: $text-primary;
          text-decoration: none;
          font-size: $font-size-sm;
          display: inline-block;
          transition:all 0.3s ease-in;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 0;
            height: 2px;
            background-color: #000;
            z-index: 1;
            transition: all .3s ease-in;
          }

          &:hover::after {
            width: 100%;
            right: 0;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;

    @include respond-to("desktop") {
      display: none;
    }

    li {
      a {
        img {
          transition: all 0.3s ease-in;
          font-size: 0;

          &:hover {
            transform: scaleX(1.5);
          }
        }
      }
    }
  }

  &__shop {
    position: relative;

    &:hover .header__dropdown {
      display: flex !important;
    }
  }

  &__dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 0;
    top: 40px;
    background-color: aliceblue;
    box-shadow: 4px 7px black;
    z-index: 100;
    a {
      text-decoration: none;
      font-size: $font-size-sm;
    }
  }

}

#check {
  display: none;
}

#check:checked ~ .header__nav-list {
  right: 0;
}

#check:checked ~ .header__close-menu {
  display: block;
}

#check:checked ~ .header__open-menu {
  display: none;
}