.categories__v1 {

  &__content {
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;

    @include respond-to("tablet"){
      padding-inline: 20px;
    }
  }

  &-background {
    position: absolute;
    z-index: -1;
    top: 0;

    @include respond-to("tablet"){
      display: none;
    }
  }

  &__container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline: auto;
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;

    h3 {
      font-size: $font-size-lg;
      font-weight: 600;
      text-transform: uppercase;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 16px;

      :first-child {
        border-bottom: 2px solid currentColor;
      }

      a {
        text-decoration: none;
        color: $text-primary;
        font-size: $font-size-sm;
        text-transform: uppercase;
        line-height: 24px;
        &:hover {
          border-bottom: 2px solid currentColor;
        }
      }
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    &__Arrows {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      padding: 11px;
      z-index: 1;
      bottom: 190px;
      transition: all .3s ease-in;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
      }

      @include respond-to("lg"){
        display: none;
      }
    }

    .leftArrow {
      left: -20px;
    }

    .RightArrow {
      right: -20px;
    }
    .card {
      max-width: 295px;
      position: relative;
      transition: all .9s ease-in;
      cursor: pointer;
      &:hover {
        transform: rotateY(180deg);
      }
      @include respond-to("desktop"){
        max-width: 100%;
        width: 100%;
      }

      &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        padding: 8px;
        top: 16px;
        left: 16px;
        transition: all .3s ease-in;

        &:hover {
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        }
      }

      &__image {
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &__content {

        .card__content-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-block: 20px 10px;

          &__txt {
            h4,p{
              font-size: $font-size-md-sm;
              text-transform: uppercase;
              font-weight: 600;
            }
          }

          &__icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #F3F3F3;
            padding: 8px;
            transition: all .3s ease-in;

            &:hover {
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }

      &__color-selector {
        display: flex;
        align-items: center;
        gap: 12px;

        input {
          display: none;
        }

        .color-box {
          width: 12px;
          height: 12px;
          padding: 0 8px;
          cursor: pointer;
        }

        .lightBlack{
          background-color: #412B32;
        }

        .Brown{
          background-color: #B69474;
        }

        .gray {
          background-color: #9C9A99;
        }

        .yellow {
          background-color: #E4D094;
        }

        input:checked + .color-box {
          outline: 1px solid black;
          outline-offset: 5px;
        }
      }
    }
  }

  &__swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap-reverse;

    &-form {
      display: flex;
      gap: 8px;

      input {
        display: none;
      }

      .black {
        width: 8px;
        height: 8px;
        padding: 0 8px;
        border-radius: 50%;
        background-color: #000;
        cursor: pointer;
      }

      input:checked + .black {
        outline: 1px solid black;
        outline-offset: 5px;
      }
    }

    @include respond-to("desktop"){
      margin: 0;
    }
  }
}
